.mirror-img {
  transform: scaleX(-1);
}
.text-shadow-brown {
  -webkit-text-stroke: 1px #7d451b;
}

.container-card-attdef {
  background-color: #344829;
  text-shadow: #83152b -2px 0px,#83152b 0px 2px,#83152b 2px 0px,#83152b 0px -2px;
}

.rotateZ-45-deg{
  transform: rotateZ(30deg);
}