/* Tailwind directive*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.facebook-button{
        background-color: #4c69ba;
        height: 50px;
        width: 50px;
        border-radius: 100%;
}

.google-button{
        background-color: red;
        height: 50px;
        width: 50px;
        border-radius: 100%;
}

.buttons-social{
        display: flex;
        width: 100%;
        justify-content: space-around;
}
